:root {
  --tag-bg-color: rgb(209, 244, 255);
  --font-large: 24px;
  --like-btn-ratio: 20px;
  --dislike-btn-ratio: 18px;
  --minor-spacing: 4px;
  --spacing: 10px;
  --btn-width: 100px;
  --btn-hover: aliceblue;
  --focus-color: rgb(2, 144, 238);
  --input-width: 500px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--focus-color);
}

nav {
  font-size: 26px;
  color: white;
  background-color: black;
  text-align: center;
  padding: var(--spacing);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing);
  gap: var(--minor-spacing);
}

.posts-container {
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.post-title {
  font-weight: bold;
  font-size: var(--font-large);
  margin-top: 20px;
  margin-bottom: var(--spacing);
}

.post-content {
  color: rgb(71, 71, 71);
  line-height: 20px;
}

.post-tags::before {
  content: "Tags:";
  color: black;
}

.post-tags {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  color: rgb(71, 71, 71);
  margin: 10px 0;
}

.post-reactions {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  margin: 10px 0;
}

.post-likes {
  display: flex;
  gap: var(--minor-spacing);
  align-items: center;
}
.post-dislikes {
  display: flex;
  gap: var(--minor-spacing);
  align-items: center;
}

.post-likes::before {
  content: "";
  background: url(../assets/like.svg);
  background-repeat: no-repeat;
  height: var(--like-btn-ratio);
  width: var(--like-btn-ratio);
}

.post-dislikes::before {
  content: "";
  background: url(../assets/dislike.svg);
  background-repeat: no-repeat;
  height: var(--dislike-btn-ratio);
  width: var(--dislike-btn-ratio);
}

.post-views::after {
  content: "views";
  margin-left: var(--minor-spacing);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  max-width: var(--input-width);
  width: 100%;
  padding-left: var(--spacing);
}

textarea {
  height: 80px;
}

.edit-delete-container button {
  width: var(--btn-width);
  padding: 5px 10px;
  margin-right: 20px;
  margin-bottom: var(--spacing);
  cursor: pointer;
  border-radius: var(--spacing);
  background-color: transparent;
}

.edit-delete-container button:hover {
  background-color: var(--btn-hover);
}

.form-container {
  padding: var(--spacing);
}

.create-new-post {
  display: flex;
  flex-direction: column;
  gap: var(--minor-spacing);
  max-width: 550px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid black;
  padding: var(--spacing);
  border-radius: var(--spacing);
}

.create-new-post p {
  font-size: var(--font-large);
  font-weight: bold;
}

.create-new-post input {
  padding: var(--minor-spacing);
  max-width: 550px;
  width: 100%;
}
.create-new-post textarea {
  padding: var(--minor-spacing);
}
.create-new-post button {
  background-color: transparent;
  cursor: pointer;
  width: var(--btn-width);
  padding: 5px 10px;
  margin-right: 20px;
  margin-bottom: var(--spacing);
  cursor: pointer;
  border-radius: var(--spacing);
  background-color: transparent;
}

.create-new-post button:hover {
  background-color: var(--btn-hover);
}

.tags {
  display: flex;
  gap: var(--minor-spacing);
}

.edit-input {
  margin-top: 10px;
}

.post-dislikes,
.post-likes {
  cursor: pointer;
}

.post-tags button {
  cursor: pointer;
}

.post-tags button {
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--tag-bg-color);
  border: none;
  width: inherit;
  margin: 0;
}
